*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.7;
    font-family: sans-serif;
    background: linear-gradient(
            to left,
            rgba(7, 27, 82, 1) 0%,
            rgba(0, 128, 128, 1) 100%
    );
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}